body {
    margin: 0;
    background: url('images/papyrus.png');
}

.navbar {
    background-color: grey !important;
}
.face {
    width: 250px;
    margin: 10px;
}

#about {
    border: 3px solid black;
    background: white;
}

footer {
    background-color: grey;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#portfolio {
    border: 3px solid black;
    padding-right: 20px;
    background: white;
}

#facemain {
    width: 100%;
    margin: 10px;
}

#portfolio {
    margin: 20px;
}

.portfoliocaption {
    color: white;
    width: 250px;
    background-color: whitesmoke;
    top: -20px;
    text-align: center;
    position: relative;
    top: -10px;
    right: -10px;
}

.background {
    width: 100%;
    z-index: -2;
    height: 728px;

}

#submit {
    border: 3px solid black;
    padding: 10px;
    background: white;
}
